// DONDE IR
.sectionDondeIr {
    background-color: #FFFFFF;
    margin: 30px 80px 30px 80px;
}
.video__lugares-dondeIr {
    width: 600px;
    height: 400px;
}
.titulo__imagen-dondeIr {
    background-color: #647ce7;
    color: #EEEEEE;
    max-width: 1800px;
    height: 50px; 
    margin-top: 20px ;
    margin-bottom: 20px;
    border-top: 100px;
    padding-left: 20px;
    margin: 20px;
    padding-top: 10px;
    text-align: center;   
}
.subtitulos_dondeIr {
    background-color: #030f46 ;
    opacity: .6;
    color: white;
    max-width: 1800px;
    height: 35px; 
    border-top: 70px;
    padding-left: 20px;
    margin: 20px 0px 20px 0px;
    padding-bottom: 5px;
}
.tarjetasDondeIr {
    background: #FFFFFF ;
} 
.imagen__zoit-dondeIr {
    border-radius: 20px;
    margin: 200;
    padding-top: 20px;
    margin: 20px 20px 20px 20px;
    width: 500px;
    height: 800px;
}
.tarjetas__dondeIr img {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
}
.contenidoImagen {
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding-bottom: 20px;
    line-height: 40px;
    margin-top: 50px;
}
.contenidoVideo {
    margin: 20px 0px 20px 0px;
    height: 250px; 
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
    text-align: justify;
}
.boton__dondeIr {
    @include Button($blueButton)
}
