// DONDE IR
.sectionDondeIr {
    background-color: $lightBackground;
    margin: 30px 80px 30px 80px;
}
.video__lugares-dondeIr {
    width: 600px;
    height: 400px;
}
.titulo__imagen-dondeIr {
    @extend .tituloInicio;   
}
.subtitulos_dondeIr {
    @extend .subtituloInicio;
}
.tarjetasDondeIr {
    background: $lightBackground ;
} 
.imagen__zoit-dondeIr {
    border-radius: 20px;
    margin: 200;
    padding-top: 20px;
    margin: 20px 20px 20px 20px;
    width: 500px;
    height: 800px;
}
.tarjetas__dondeIr img {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
}
.contenidoImagen {
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding-bottom: 20px;
    line-height: 40px;
    margin-top: 50px;
}
.contenidoVideo {
    margin: 20px 0px 20px 0px;
    height: 250px; 
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
    text-align: justify;
}
.boton__dondeIr {
    @include Button($blueButton)
}

.carousel {
    height: 300px;
    width: 444px;
    & img {
        height: 300px ;
        width: 444px;
    }
}

// MEDIA QUERIES 

@media (max-width: $bpSmall) {
    .tarjetas_dondeIr {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tarjetas__dondeIr {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
        width: 200px;
    }
    .video__contenido-dondeIr {
        height: 100px;
        margin-left: 80px;
    }
    .imagen__contenido-dondeIr {
        margin-left: 20px;
        width: 250px;
        height: 200px;
        padding-top: 20px;
    }
    .imagen__zoit-dondeIr {
        border-radius: 20px;
        margin: 200;
        padding-top: 20px;
        margin: 20px 20px 20px 20px;
        width: 200px;
        height: 400px;
    }
    .imagen__contenido-dondeIr {
        font-size: 10px;
        line-height: normal;
    }
    .carousel {
        height: 200px;
        width: 350px;

        & img {
            height: 200px;
            width: 350px ;
        }
    }
}

