.titulo-galeria {
    @extend .tituloInicio;
}
.galeria{
    padding: 20px;
    margin: 20px;
    background-color: $lightBackground;

    &__fotos {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    
}
.galeria img {
    max-width: 400px;
    padding: 5px;
}
.galeriaHover {
    transition: transform 1s ease-out 0.5s;
    padding: 1px 1px 1px 1px ;
    height: 200px;
    width: 250px;
    align-items: center; 
    justify-content: center; 
    
    &:hover {
        transform: scale(1.2);
    }
}
//  MEDIA QUERIES
@media (max-width: $bpMedium) {
    .galeria{
        padding: 20px;
        margin: 20px;
        background-color: $lightBackground;
    
        &__fotos {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }  
    }
    .galeria img {
        max-width: 200px;
        max-height: 200px;
    }
}
@media (max-width: $bpSmall) {
    .galeria{
        padding: 10px;
        margin: 10px;
        background-color: $lightBackground;
    
        &__fotos {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        } 
    }
    .galeria img {
        max-width: 150px;
        max-height: 150px;
    }
}