.sectionGaleria {
    background-color: $lightBackground;
}
.titulo-galeria {
    @extend .tituloInicio;
}
.galeria_container {
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items:center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;

    & img {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    & div {
        display: inline-block;
        overflow: hidden;
    }  
}
.galeriaHover {
    transition: transform 1s ease-out 0.5s;
    padding: 1px 1px 1px 1px ;
    height: 200px;
    width: 250px;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
    
    &:hover {
        transform: scale(1.2);
        overflow: hidden; 
    }
}
//  MEDIA QUERIES
@media (max-width: $bpSmall) {
    .galeria_container {
        width: 225px;
        height: 500px;
        flex-direction: column;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
    .galeria_container img {
        width: 100px;
        height: 100px;
    } 
    .galeriaHover {
        width: 100px;
        height: 100px;
    } 
    .carousel {
        height: 300px;
        width: 350px;

        & img {
            height: 300px;
            width: 350px ;
        }
    }
}