// MEDIA QUERIES
@media (max-width: 992px) {
    .cursos__contenido {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    // header span {
    //     display: flex;
    //     height: 35px;
    //     width: 15px;
    //     margin-right: 40px;
    //     background-color: #647ce7;
    // }
    .noMostrar a{
        display: flex ;
    }
    .contenidoImagen {
        padding: 0px 5px 0px 5px;
        font-size: 15px;
        margin-top: 5px;
    }
    .efectoTarjeta {
        margin-bottom: 20px;
    }
}
    // .sectionGrid {
    //     align-items: center;
    //     justify-content: center;
    //     height: 1100px;
    // }
    // .gridInicio {
    //     height: 300px;
    //     width: 300px;
    //     margin-left: 50px;
    //     margin-right: 50px;
    //     padding-left: 10px;
    // }
    // .gridInicio img {
    //     height: 80px;
    //     width: 90px;
    //     margin-top: 30px;
    // }
    // .contenidoGrid {
    //     height: 500px;
    //     width: 500px;
    //     padding-top: 20px;
    //     padding-left: 10px;
    //     margin: 20px 20px 20px 20px;
    //     font-size: 20px;
    // }
    // .encabezado__contenido-menu {
    //     display: none;
    // }

    // .encabezado__contenido-menu-celular {
    //     display: inline-block;
    // }
    // .sectionGrid {
    //     flex-direction: column;
    // }
    // .proximosEventos {
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     height: 1500px;
    // }
    // .tituloEventos {
    //     height: 30px;
    //     margin-top: 10px;
    //     padding-top: 10px;
    // }
    // .tarjeta {
    //     margin-top: 10px;
    // }
    // .girarTarjetaInicio {
    //     display: flex;
    //     flex-direction: row-reverse;
    // }
    // .tarjetas_inicio {
    //     display: flex;
    //     flex-direction: column;
    // }
    // .articulo-inicio {
    //     display: flex;
    //     flex-direction: column;
    //     height: 225px;
    //     font-size: 10px;
    // }
    // .tarjetas__contenido-inicio {
    //     display: flex;
    //     width: 300px;
    //     height: 150px;
    //     margin: 100px;
    //     font-size: 10px;
    // }
    // .tarjetasInicio {
    //     display: flex;
    //     height: 400px;
    // }
    // .tarjetasInicio img {
    //     height: 200px;
    //     width: 300px;
    // }
    // .tarjetasMobile {
    //     height: 1100px;
    // }
    // .contenido__subtitulo-incio {
    //     width: 300px;
    //     height: 150px;
    //     padding-left: 10px;
    //     font-size: 12px;
    //     margin: 5px;
    // }
    // .tarjetas_dondeIr {
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
    // .tarjetas__dondeIr {
    //     margin: 20px 20px 20px 20px;
    //     padding: 20px 20px 20px 20px;
    //     width: 200px;
    // }
    // .video__contenido-dondeIr {
    //     height: 100px;
    //     margin-left: 80px;
    // }
    // .imagen__contenido-dondeIr {
    //     margin-left: 20px;
    //     width: 250px;
    //     height: 200px;
    //     padding-top: 20px;
    // }
    // .tarjetas_sobreChile {
    //     flex-direction: column;
    //     width: 450px;
    // }
    // .imagenes__sobreChile {
    //     margin-left: 50px;
    //     height:200px;
    //     width: 200px;
    // }
    // .contenidos__sobreChile {
    //     width: 200px;
    //     margin-left: 25px;
    // }
    // .galeria_container {
    //     width: 225px;
    //     height: 500px;
    //     flex-direction: column;
    //     margin-left: 10px;
    //     align-items: center;
    //     justify-content: center;
    // }
    // .galeria_container img {
    //     width: 100px;
    //     height: 100px;
    // } 
    // .galeriaHover {
    //     width: 100px;
    //     height: 100px;
    // } 
    // .seccionNuestraDiversidad {
    //     height: 1600;
    //     width: 300;
    // }
    // .imagen__zoit-dondeIr {
    //     border-radius: 20px;
    //     margin: 200;
    //     padding-top: 20px;
    //     margin: 20px 20px 20px 20px;
    //     width: 200px;
    //     height: 400px;
    // }
    // .imagen__contenido-dondeIr {
    //     font-size: 10px;
    //     line-height: normal;
    // }
    // .contenidoImagenInicio {
    //     display: inline-block;
    //     text-align: justify;
    //     font-size: 16px;
    //     margin: 15px 0px 20px 0px;   
    //     line-height: 20px;
    //     padding-left: 20px;
    //     padding-right: 40px;
    // }
    // .contenidoSubtituloIncio {
    //     border-radius: 10px;
    //     margin: 20px 10px 20px 20px;
    //     /* width: 900px; */
    //     height: 70px; 
    //     display: inline-block;
    //     text-align: justify;
    //     line-height: 20px;
    //     font-size: 16px;
    // }
    // .contenidosSobreChile p {
    //     /* display: inline-block;
    //     text-align: justify; */
    //     font-size: 14px;
    //     margin: 5px 0px 5px 0px;
    //     padding-bottom: 10px;
    //     line-height: 15px;
    //     margin-top: 10px;
    //     padding-top: 10px;
    // }
    // .contenidoSubtituloIncio {
    //     border-radius: 10px;
    //     margin: 20px 10px 20px 10px;
    //     height: 150px; 
    //     display: inline-block;
    //     text-align: justify;
    //     line-height: 20px;
    //     font-size: 20px;
    //     background: #FFFFFF;
    //     padding-top: 20px;
    // }
    // .contenidoImagenConsultas {
    //     display: inline-block;
    //     text-align: justify;
    //     font-size: 17px;
    //     margin: 20px 0px 20px 0px;
    //     padding-bottom: 20px;
    //     line-height: 40px;
    //     margin-top: 50px;
    // }
    // .lista__contactos {
    //     font-style: italic;
    //     padding: 10px 0px 10px 0px;
    //     height: 80px;
    //     line-height: 10px;
    //     font-size: 20px;
    //     margin-bottom: 10px;
    // }
//     .contenidoImagen {
//         padding: 0px 5px 0px 5px;
//         font-size: 15px;
//         margin-top: 5px;
//     }
//     .efectoTarjeta {
//         margin-bottom: 20px;
//     }
// }
//     .contenidoTituloSobreChile {
//         background-color: #FFFFFF;
//         margin: 0px 40px 0px 40px;
//         height: 200px;
//         padding-top: 30px;
//     }
//     .contenidoTituloSobreChile {
//         padding-top: 10px;
//     }
// } 
// @media (max-width: 498px) {
//     .contenidoImagenInicio {
//         display: inline-block;
//         text-align: justify;
//         font-size: 14px;
//         margin: 20px 0px 20px 0px;
//         padding-bottom: 10px;
//         line-height: 20px;
//         margin-top: 10px;
//     }
// } 
// @media (max-width: 857px) {
//     .contenidoTituloSobreChile {
//         background-color: #FFFFFF;
//         margin: 0px 10px 0px 10px;
//         height: 150px;
//         padding-top: 30px;
//     }
// }
