.sectionSobreChile {
    background-color: $lightBackground;
    margin-top: 20px;
}
.titulos_sobreChile {
    @extend .tituloInicio;
}
.contenidoTituloSobreChile {
    background-color: $lightBackground;
    margin: 0px 40px 0px 40px;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.tarjetas_sobreChile {
    padding: 50px;
    margin-top: 20px;
}
.contenidosSobreChile {
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding-bottom: 10px;
    line-height: 40px;
    margin-top: 10px;
    padding: 10px 20px 10px 10px;

    & ol {
        display: inline-block;
        text-align: justify;
        font-size: 20px;
        margin: 10px 0px 10px 0px;
        padding-bottom: 10px;
        line-height: 20px;
        margin-top: 10px;

    }
    & p {
        line-height: 25px;
        font-size: 17px;
    }
}
.subtitulos_sobreChile {
    @extend .subtituloInicio;
}
.subtitulos_sobreChileCursive {
    @extend .subtituloInicio;
    font-family: $cursive;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}
.imagenesSobreChile {
    box-shadow: $shadow;
    padding: 0px;
}
.section__lista {
    border: 250;
    margin: 400px;
    background-color: yellow;
}
.sobreChile__parrafos {
    background-color: #f5f5f5;
    border-radius: 50px;
    width: 400px;
    height: 200px; 
    display: inline-block;
    text-align: justify;
    line-height: 35px;
    margin-left: 150px;
    margin-right: 300px;
}
.lista__sobreChile {
    border: 100px;
    list-style-type: square;
    width: 100px;
    display:inline-block;
}
.div__sobreChile {
    display: block;
}
.efectoTarjetaSobreChile {
    @extend .efectoTarjeta;
    transition: transform 0.3s;
    &:hover {
        transform: translateY(-10px);
    }
}
.seccion__regiones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 50px 10px 50px;
    color: black;
    transition: 0.3s; 

    &-dato {
        margin: 20px;        
    }
}
// PSEUDOELEMENTOS
.firstLineBlue::first-line {
    color: blue;
    font-weight: bold;
}
.selectorMagenta p::selection {
    background-color: magenta;
}
// GRADIENTE CON ANIMACIÓN
.backgroundGradiente {
    background: linear-gradient(90deg, #030f46, #8599f1);
    background-size: 400% 400%;
    animation: anim 2.5s infinite ease-in-out;
}
@keyframes anim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    } 
    100% {
        background-position: 0 50%;
    }
}
// MEDIA QUERIES
@media (max-width: 857px) {
    .contenidoTituloSobreChile {
        background-color: $lightBackground;
        margin: 0px 10px 0px 10px;
        height: 150px;
        padding-top: 30px;
    }
}
@media (max-width: $bpMedium ){
    .subtitulos_sobreChileCursive {
        padding: 10px;
        line-height: 25px;
        justify-content: start;
    }
}
@media (max-width: $bpSmall ) {
    .contenidoTituloSobreChile {
        background-color: $lightBackground;
        margin: 0px 40px 0px 40px;
        height: 200px;
        padding-top: 30px;
    }
    .contenidoTituloSobreChile {
        padding-top: 20px;
    }
    .tarjetas_sobreChile {
        flex-direction: column;
        width: 450px;
        padding: 10px;
    }
    .imagenes__sobreChile {
        margin-left: 50px;
        height:200px;
        width: 200px;
    }
    .contenidos__sobreChile {
        width: 200px;
        margin-left: 25px;
    }
    .contenidosSobreChile {
        font-size: 15px;
        & p {
            font-size: 12px;
            margin: 5px 0px 5px 0px;
            padding-bottom: 10px;
            line-height: 20px;
            margin-top: 10px;
            padding-top: 10px;
        }
    }
    .subtitulos_sobreChileCursive {
        padding-bottom: 10px;
        height: 50px;
    }
    .seccion__regiones {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
        margin: 30px 50px 10px 50px;
        color: black;
        transition: 0.3s; 
        margin-bottom: 10px;

        & h3 {
            font-size: 20px;
            width: 150px;
            height: 180px;
            margin: 10px;
        } 

        &-dato {
            width: 150px;
            height: 300px;
            margin: 5px; 
            font-size: 13px; 
                  
        }
    }
}
