//FOOTER
footer {
    color: grey;
    margin: 10px;
}
.footer_div {
    color: grey;
    margin: 10px;
    font-size: 16px;
}
.footer_izquierda {
    margin-left: 10px;
    margin-right: 10px;
}
.comunicate {
    position: fixed;
    right:0px;
    bottom: 30px;
    height: 40px;
    width: 40px;
}
.comunicate img {
    position: fixed;
    right:20px;
    bottom: 40px;
}
.instagram img {
    position: fixed;
    right:23px;
    bottom: 85px;
}
.facebook img {
    position: fixed;
    right:23px;
    bottom: 128px;
}
.twitter img {
    position: fixed;
    right:23px;
    bottom: 170px;
}
.redesSociales-footer a img {
    height: 20px;
    width: 20px;
    font-size: 13px;
}

// FOOTER DE LA CLASE

.pie-pagina {
  background-color: $footerBackground;
  color: grey;
  padding: 60px 20px;

  &__contenido {
    @extend .contenedor;
    @include templateGrid(3);
    
    &-titulo {
      color: $footerTitle;
      margin-bottom: 35px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
    }

    &-lista {
      li {
        margin: 10px 0;
        display: inline-block;
        width: 200px;
      }

      a {
        color: $footerText;
        transition: $transition;


        &:hover {
          color: $footerHover;
        }
      }
    }

    &-rrss {
      @include templateFlex(space-evenly, true);
      margin-top: 30px;
      
    
      $iconosSocial: (
        facebook: $facebook,
        instagram: $instagram,
        twitter: $twitter,
        whatsapp: $whatsapp,
        email: $email,
      );

      @each $nombreRedSocial, $colorRedSocial in $iconosSocial {
        .rs-#{$nombreRedSocial} {
          color: lightblue;
          font-size: 30px;
          transition: $transition;

          &:hover {
            color: $colorRedSocial;
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 40px;
    text-align: center;
    color: #94a3b8;
  }
}


// MEDIAQUERIES
@media (max-width: $bpSmall) {
  .pie-pagina__copyright {
    font-size: 12px;
    width: 300px;

  }
  .pie-pagina__contenido {
    grid-template-columns: 1fr;

    &-titulo {
      font-size: 17px;
      margin-bottom: 5px;
      padding-left: 25px;

    }
    &-lista {
      width: 170px;
      padding-left: 1px;
    }
      & li{
      font-size: 14px;
      display: inline-block;
      justify-content: start;
      margin-top: 2px;
      margin-bottom: 2px;
      
    }
    &-rrss {
      margin-top: 10px;


      $iconosSocial: (
        facebook: $facebook,
        instagram: $instagram,
        twitter: $twitter,
        whatsapp: $whatsapp,
        email: $email,
      );

      @each $nombreRedSocial, $colorRedSocial in $iconosSocial {
        .rs-#{$nombreRedSocial} {
          color: lightblue;
          font-size: 20px;
          transition: 0.3s;
        }
      }
    }
    
  }

}
@media (max-width: $bpMedium) {
    .pie-pagina__contenido {
      grid-template-columns: 2fr;
    }
}
