* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1800px;
    margin: 0 auto;  
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../recursos/tipografias/Inter-VariableFont_slnt\,wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../recursos/tipografias/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: bold; 
}

body {
    background-color: #e6e6e6;
    font-family: 'Inter', sans-serif;
    src: url('../recursos/tipografias/Inter-VariableFont_slnt\,wght.ttf');
    font-style: normal;
}

/* GLOBAL */
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 20px 10px 10px;
}
li {
    list-style-type: none;
    display: inline;   
}

a:link, a:visited {
    text-decoration: none;
  }
.foto_nav {
    height: 50px;
    width: 50px;
    text-align: justify;
} 
.imagen__Nav {
    background-image: url('./recursos/imagenes/lugares turisticos/pucon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    color:#FFFFFF;
    font-size:xx-large;
    font-weight: bold;
}

// MIXINS

// buttons
@mixin Button($color) {
    border: none;
    background: #FFFFFF ;

    & a {
        border: none;
        margin-top: 20px;
        color: $color;
        background: transparent;
        border: 4px solid $color;
        border-radius: 6px;
        border-radius: 5px;
        padding: 8px 16px;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        background: #FFFFFF ;
        border: 2px solid $color;
        font-weight: bold;
    }
    &:hover a {
        background-color: $color;
        color: #FFFFFF;
        font-weight: bolder;
    }
   
}

@mixin ActiveButton($color) {
    padding: 5px;
    border-radius: 10px;

    &:active {
        background-color: $color;
        color: black !important;
    }
} 

@mixin LastChild($color) {
    &:last-child  {
        border-color: $color;
        border-style: outset;
        border-radius: 12px;
        margin-left: 20px;
    }
}

@mixin interactiveButton($length) {
    &:hover::after {
        position: absolute;
        content: '\279c';
        right:$length;
        color: black;
    }
}
// EXTENDS 
.gradienteLinear {
    background: rgb(15,42,161);
    background: linear-gradient(0deg, rgba(15,42,161,1) 15%, rgba(3,15,70,0.9528186274509804) 80%);
}
// -----------------------------------------------------------


// extends
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
  
  // mixin
@mixin templateGrid($cantidadCol) {
    display: grid;
    grid-template-columns: repeat($cantidadCol, 1fr);
    gap: 50px;
}
@mixin templateFlex($justify, $align) {
    display: flex;
    justify-content: $justify;
  
    @if ($align == true) {
      align-items: center;
    }
}