// ENCABEZADO 

.encabezado {
    background-color: #030f46;
    z-index: 100;


    &__contenido-logo {
        color: #e2e8f0;
        font-size: 15px;
        display: inline-block; 
    }
    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;


        &-menu {
            display: flex; 

            & a {
                color: #e2e8f0;
                font-weight: bold;
                filter: blur(0px);
                font-size: 17px; 
            }
            &-HOVER:hover a {
                color: #8599f1;
                filter: blur(0.6px);
            }
            & li {
                margin: 0 15px;
            }
        }
    }
    &_titulo a {
        margin: 10px 10px 50px 10px;
        font-size: 30px; 
    }
}

