// ENCABEZADO 

.encabezado {
    background-color: #030f46;
    opacity: 0.95;
    z-index: 100;


    &__contenido-logo {
        color: $letterColor;
        font-size: 15px;
        display: inline-block; 
    }
    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        
        &-menu {
            display: flex; 

            & a {
                color: $letterColor;
                font-weight: bold;
                filter: blur(0px);
                font-size: 17px; 
            }
            &-HOVER:hover a {
                color: $cardHoverButton;
                filter: blur(0.6px);
            }
            & li {
                margin: 0 15px;
            }
        }
    }
    &_titulo a {
        margin: 10px 10px 50px 10px;
        font-size: 30px; 
    }
}

.nav-item a {
    @include ActiveButton( $activeButton);
}

.navbar-nav li {
    @include LastChild( $activeButton);  
}
// MEDIA QUERIES 
@media (max-width: $bpSmall) {
     .encabezado__contenido-menu {
        display: none;
    }

    .encabezado__contenido-menu-celular {
        display: inline-block;
    }   
    header span {
        display: flex;
        height: 35px;
        width: 15px;
        margin-right: 40px;
        background-color: #647ce7;
    }

}

.rotarFavicon{
    @include rotador(-3deg);
}