// colores
$footerHover: #e2e8f0;
$footerTitle: white;
$footerText: grey;
$blueButton: #030f46;
$footerBackground:#030f46;
$bgDark: #0f172a;
$lightBackground:#FFFFFF ;
$firstLine: #133ae5 ;
// $darkBackground: ; 


// title and Subtitle
$titleFontSize: 35px;
$subtitleFontSize:25px; 

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// utilidades
$defaultSize: 10px;
$transition: all 0.3s;
$shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);

