// colores
$fontLight: #e2e8f0;
$bgDark: #0f172a;
$primary: #22c55e;



$blueButton: #030f46;
$titleFontSize: 35px;
$subtitleFontSize:25px; 


// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// utilidades
$defaultSize: 10px;
$transition: all 0.3s;
$shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);



// background-color: #e6e6e6; fondo de las sections
// background-color: #030f46; encabezado
// box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6); todos los shadow 
// color: #e2e8f0; color de letra
//background-image: linear-gradient(to right, #030f46, #8599f1); }  gradiente de consultas